@page
@using AddressFinderWebApplication.Models
@model IndexModel
@{
    ViewData["ADDRESS FINDER"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4"><strong>ADDRESS FINDER</strong></h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>

<style>
    body {
        /* Background Image*/
        background: url("https://www.publicdomainpictures.net/pictures/90000/nahled/grid-globe-background.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-attachment: fixed
    }
</style>

<div class="search">
    <form method="post" class="search-form">
        
        <input class="form-control valid" asp-for="SearchString" placeholder="Type here to search country address" />
        <br />
        <button type="submit"><strong>Filter</strong></button>
        <button type="submit" onclick="clearSearch()"><strong>Clear</strong></button>
    </form>
    <br>
</div>

<script>
    function clearSearch() {
        document.getElementById("SearchString").value = "";
    }
</script>

<!-- Canada Addresses -->
@if (AddressFinderWebApplication.Pages.IndexModel.results.UserAddressesCanada.Any())
{
    <h2>Canada Addresses:</h2>
    <ul>
        @foreach (var address in AddressFinderWebApplication.Pages.IndexModel.results.UserAddressesCanada)
        {
            <li>@address.Name, <br /> @address.AddressLine1, <br /> @address.City, @address.Province, @address.PostalCode, <br /> @address.Country</li>
        }
    </ul>
}

<!-- Mexico Addresses -->
@if (AddressFinderWebApplication.Pages.IndexModel.results.UserAddressesMexico.Any())
{
    <h2>Mexico Addresses:</h2>
    <ul>
        @foreach (var address in AddressFinderWebApplication.Pages.IndexModel.results.UserAddressesMexico)
        {
            <li>@address.Name, <br /> @address.StreetTypeAndName, <br /> @address.HouseNumber, <br /> @address.NeighborhoodQuarterSettlement, <br /> @address.Municipality, @address.PostalCode, @address.City, <br /> @address.State, <br /> @address.Country</li>
        }
    </ul>
}

<!-- Australia Addresses -->
@if (AddressFinderWebApplication.Pages.IndexModel.results.UserAddressesAustralia.Any())
{
    <h2>Australia Addresses:</h2>
    <ul>
        @foreach (var address in AddressFinderWebApplication.Pages.IndexModel.results.UserAddressesAustralia)
        {
            <li>@address.Name, <br /> @address.AddressLine1, <br /> @address.AddressLine2, <br /> @address.City, @address.Province, @address.Postcode, <br/> @address.Country</li>
        }
    </ul>
}

<!-- India Addresses -->
@if (AddressFinderWebApplication.Pages.IndexModel.results.UserAddressesIndia.Any())
{
    <h2>India Addresses:</h2>
    <ul>
        @foreach (var address in AddressFinderWebApplication.Pages.IndexModel.results.UserAddressesIndia)
        {
            <li>@address.Name, <br /> @address.AddressLine1, <br /> @address.AddressLine2, <br /> @address.Landmark, <br /> @address.City, <br /> @address.District, @address.Pincode, <br /> @address.State, <br /> @address.Country</li>
        }
    </ul>
}

<!-- USA Addresses -->
@if (AddressFinderWebApplication.Pages.IndexModel.results.UserAddressesUsa.Any())
{
    <h2>USA Addresses:</h2>
    <ul>
        @foreach (var address in AddressFinderWebApplication.Pages.IndexModel.results.UserAddressesUsa)
        {
                    <li>@address.f1name1, <br/> @address.f1AddressLine1, <br/> @address.f1AddressLine2, <br/> @address.f1city, <br/> @address.State, @address.f1zipcode, <br/> @address.f1country</li>
        }
    </ul>
}

<!-- No Addresses Found -->
@if (!AddressFinderWebApplication.Pages.IndexModel.results.UserAddressesCanada.Any() && !AddressFinderWebApplication.Pages.IndexModel.results.UserAddressesMexico.Any() && !AddressFinderWebApplication.Pages.IndexModel.results.UserAddressesAustralia.Any() && !AddressFinderWebApplication.Pages.IndexModel.results.UserAddressesIndia.Any() && !AddressFinderWebApplication.Pages.IndexModel.results.UserAddressesUsa.Any())
{
    <p>No addresses found for search term "@Model.SearchString".</p>
}


<label for="dropdown"><strong>Select an Option:</strong></label>
<select id="myDropdown">
    <option value="form">Select Country</option>
    <option value="form1">USA</option>
    <option value="form2">INDIA</option>
    <option value="form3">AUSTRALIA</option>
    <option value="form4">MEXICO</option>
    <option value="form5">CANADA</option>
</select>

<div id="formContainer"></div>

<script>
    const dropdown = document.getElementById("myDropdown");
    const formContainer = document.getElementById("formContainer");

    dropdown.addEventListener("change", (event) => {
        const selectedForm = event.target.value;
        if (selectedForm === "form1") {
            formContainer.innerHTML = `
                            <form method="get">
                              <br><br>
                                  <label for="f1name1"><strong>Name:</strong></label>
                                  <input type="text" id="f1name1" name="f1name1"><br><br>
                                  <label for="AddressLine1"><strong>Address Line 1:</strong></label>
                              <input type="text" id="f1AddressLine1" name="f1AddressLine1"><br><br>
                                  <label for="AddressLine2"><strong>Address Line 2:</strong></label>
                              <input type="text" id="f1AddressLine2" name="f1AddressLine2"><br><br>
                                  <label for="city"><strong>City:</strong></label>
                              <input type="text" id="f1city" name="f1city"><br><br>
                                  <label for="zipcode"><strong>ZIP Code:</strong></label>
                              <input type="text" id="f1zipcode" name="f1zipcode"><br><br>
                                  <label for="state"><strong>State:</strong></label>
                              <input type="text" id="state" name="state"><br><br>
                                  <label for="country"><strong>Country:</strong></label>
                              <input type="text" id="f1country" value="USA" disabled name="f1country"><br><br>
                              <input type="submit" value="Submit">
                            </form>
                          `;
        }

        else if (selectedForm === "form2") {
            formContainer.innerHTML = `
                                    <form id="myform2" method="get">
                                  <br><br>
                                      <label for="f2name1"><strong>Name:</strong></label>
                                  <input type="text" id="f2name1" name="f2name1"><br><br>
                                      <label for="AddressLine1"><strong>Address Line 1:</strong></label>
                                  <input type="text" id="f2AddressLine1" name="f2AddressLine1"><br><br>
                                      <label for="AddressLine2"><strong>Address Line 2:</strong></label>
                                  <input type="text" id="f2AddressLine2" name="f2AddressLine2"><br><br>
                                      <label for="landmark"><strong>Landmark:</strong></label>
                                  <input type="text" id="f2landmark" name="f2landmark"><br><br>
                                      <label for="district"><strong>District:</strong></label>
                                      <input type="text" id="district" name="district"><br><br>
                                      <label for="city"><strong>City:</strong></label>
                                  <input type="text" id="f2city" name="f2city"><br><br>
                                      <label for="pincode"><strong>Pin Code:</strong></label>
                                  <input type="text" id="f2pincode" name="f2pincode"><br><br>
                                      <label for="state"><strong>State:</strong></label>
                                  <input type="text" id="state" name="state"><br><br>
                                      <label for="country"><strong>Country:</strong></label>
                                  <input type="text" id="f1country" value="INDIA" disabled name="f2country"><br><br>
                                  <input type="submit" value="Submit">
                                </form>
                              `;
        }
        else if (selectedForm === "form3") {
            formContainer.innerHTML = `
                                        <form id="myform3" method="get">
                                      <br><br>
                                          <label for="name1"><strong>Name:</strong></label>
                                      <input type="text" id="f3name1" name="f3name1"><br><br>
                                          <label for="AddressLine1"><strong>Address Line 1:</strong></label>
                                      <input type="text" id="f3AddressLine1" name="f3AddressLine1"><br><br>
                                          <label for="AddressLine2"><strong>Address Line 2:</strong></label>
                                      <input type="text" id="f3AddressLine2" name="f3AddressLine2"><br><br>
                                          <label for="province"><strong>Province:</strong></label>
                                      <input type="text" id="f3province" name="f3province"><br><br>
                                          <label for="city"><strong>City:</strong></label>
                                      <input type="text" id="f3city" name="f3city"><br><br>
                                          <label for="postcode"><strong>Post Code:</strong></label>
                                      <input type="text" id="f3postcode" name="f3postcode"><br><br>
                                      <label for="country"><strong>Country:</strong></label>
                                  <input type="text" id="f1country" value="AUSTRALIA" disabled name="f3country"><br><br>
                                      <input type="submit" value="Submit">
                                    </form>
                                  `;
        }
        else if (selectedForm === "form4") {
            formContainer.innerHTML = `
                            <form id="myform4" method="get">
                          <br><br>
                              <label for="name1"><strong>Name:</strong></label>
                          <input type="text" id="f4name1" name="f4name1"><br><br>
                              <label for="stsn"><strong>Street Type and Street Name:</strong></label>
                          <input type="text" id="f4stsn" name="f4stsn"><br><br>
                              <label for="hno"><strong>House No:</strong></label>
                          <input type="text" id="f4hno" name="f4hno"><br><br>
                                  <label for="nqs"><strong> Neighborhood,Quarter or Settlement:</strong></label>
                          <input type="text" id="f4nqs" name="f4nqs"><br><br>
                              <label for="muncipality"><strong>Muncipality:</strong></label>
                          <input type="text" id="f4muncipality" name="f4muncipality"><br><br>
                              <label for="postalcode"><strong>Postal Code:</strong></label>
                          <input type="text" id="f4postalcode" name="f4postalcode"><br><br>
                              <label for="city"><strong>City:</strong></label>
                          <input type="text" id="f4city" name="f4city"><br><br>
                              <label for="state"><strong>State:</strong></label>
                          <input type="text" id="state" name="state"><br><br>
                                      <label for="country"><strong>Country:</strong></label>
                                  <input type="text" id="f1country" value="MEXICO" disabled name="f4country"><br><br>
                          <input type="submit" value="Submit">
                        </form>
                      `;
        }
        else if (selectedForm === "form5") {
            formContainer.innerHTML = `
                            <form id="myform5" method="get">
                          <br><br>
                              <label for="name1"><strong>Name:</strong></label>
                          <input type="text" id="f5name1" name="f5name1"><br><br>
                              <label for="AddressLine1"><strong>Address Line 1:</strong></label>
                          <input type="text" id="f5AddressLine1" name="f5AddressLine1"><br><br>
                              <label for="AddressLine2"><strong>Address Line 2:</strong></label>
                          <input type="text" id="f5AddressLine2" name="f5AddressLine2"><br><br>
                              <label for="province"><strong>Province:</strong></label>
                          <input type="text" id="f5province" name="f5province"><br><br>
                              <label for="city"><strong>City:</strong></label>
                          <input type="text" id="f5city" name="f5city"><br><br>
                              <label for="postalcode"><strong>Postal Code:</strong></label>
                          <input type="text" id="f5postalcode" name="f5postalcode"><br><br>
                                      <label for="country"><strong>Country:</strong></label>
                                  <input type="text" id="f1country" value="CANADA" disabled name="f5country"><br><br>
                          <input type="submit" value="Submit">
                        </form>
                      `;

        }
    });
</script>




